/*UyedaiDank */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
}

.content {
    padding-right: 150px;
    padding-left: 150px;
    max-width: auto;
    margin: auto;
}

.content h1 {
    color: #333;
    margin-bottom: 10px;
}

.content p {
    color: #666;
    line-height: 1.5;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.content-text {
    text-align: justify;
    margin-top: 2rem;
}

.content-div {
    flex-basis: 60%;
}

.picture {
    flex-basis: 40%;
}